a {
  color: inherit;
  text-decoration: none;
}

a:hover {
   color: inherit;
 }

 .writereview {
   border: 1px solid black;
 }

 .num-hightlights-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: blue;
}
.num-hightlights-button:hover {
    text-decoration: underline;
}


.highlight {
  width: 630px;
  display: flex;
}

.highlight-text {
  padding: 10px;
  font-size: 12px;
}

.highlight-image {
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

.keyword {
  /* color: #65D36D; */
  font-size: 11px;
  color: royalblue;
  font-weight: bold;
}

.frequency {
  font-size: 11px;
  color: grey;
}

.highlightTransition-enter {
  opacity: 0.01;
}

.highlightTransition-enter.highlightTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.highlightTransition-leave {
  opacity: 1;
}

.highlightTransition-leave.highlightTransition-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
